.jumbotron
	h1 About!
	p.lead Always a pleasure scaffolding your apps.
	p 
		a.btn.btn-lg.btn-success(href='#') Splendid!
.row.marketing
	.col-lg-6
		h4 HTML5 Boilerplate
		p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.